.sign-wrapper {
    display: flex;
    flex-direction: column;
}

.sign_in-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign_in-form {
    display: flex;
    flex-direction: column;
    max-width: 570px;
    max-height: 234px;
}

.sign_up-form {
    display: flex;
    flex-direction: column;
    max-width: 570px;
    max-height: 234px;
}

.username_pass {
    margin-bottom: 14px;
    width: 570px;
    height: 64px;
    background: rgba(208, 250, 253, 0.5);
    border-radius: 15px;
    border: 0px;

    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-indent: 25px;
}

.sign_in_butt {
    filter: drop-shadow(0px 4px 10px #CDADF6);
    background: linear-gradient(97.35deg, #BE94F3 44.1%, #FFFFFF 108.39%);
    border-radius: 50px;
    width: 570px;
    height: 58px;
    border: 0px;

    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
}

.sign_up_butt {
    filter: drop-shadow(0px 4px 10px #CDADF6);
    background: linear-gradient(97.35deg, #BE94F3 44.1%, #FFFFFF 108.39%);
    border-radius: 50px;
    width: 570px;
    height: 58px;
    border: 0px;

    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
}

@media screen and (max-aspect-ratio: 1/1) {

    .sign_in-intro {
        margin-top: 150px;
    }

    .sign_in-form {
        max-width: 360px;
        max-height: 205px;
    }

    .sign_up-form {
        max-width: 360px;
        max-height: 205px;
    }
    
    .username_pass {
        max-width: 360px;
        max-height: 41px;
    }

    .sign_in_butt {
        max-width: 360px;
        max-height: 50px;
    }

    .sign_up_butt {
        max-width: 360px;
        max-height: 50px;
    }
}